
//Mapas

$stiles: (

    estiloLista: none,
    color: mediumblue,
    tFuente: 2rem,
    margen: 0,
    borde: 1rem,
    estructura: flex,
    ubicacion: space-between
    );


.menu-naveg {
    list-style: map-get($stiles, estiloLista);
    background-color: map-get($stiles, color);
    font-size: map-get($stiles,tFuente);
    margin-top: map-get($stiles, margen);
    border-radius: map-get($stiles, borde);
    display: map-get($stiles, estructura);
    justify-content: map-get($stiles, ubicacion);
    
}

@media (max-width: 767px) {
    .menu-naveg{
    display: flex;
    font-size: 1rem;
    
    

    }
    
} 

@media (max-width: 425px) {
    .menu-naveg{
    display: flex;
    font-size: 1rem;
    flex-direction: column;
    
    

    }
    
} 

li {
    list-style: none;
    }