html {
    font-size: 62.5%;
}

#colorFondo {
    background-color: $color-fondo;
}

.piePagina {
    font-size: 1.2rem;
    bottom: 0.5rem;
    position: sticky;
    
    
}


.flexContenido {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}


.flexLogos {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5rem;
    
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin: 0.5rem 5% 0 5%;
        
    
}


@media (max-width: 425px) {
    .grid{
        margin: 0.5rem 3.1rem 0 0;
        font-size: 1rem;
        
    }
    
}

@media (max-width: 425px) {
    .gridCel{
        margin: 0.5rem 3.1rem 0 0;
        font-size: 8px;
        
    }
    
}