@import "tipografias";
@import "componentes";
@import "estructura";

//Borde de imagenes:

$radius-imagenes: 1rem;    


//Mixin:

<<<<<<< HEAD

=======
>>>>>>> refs/remotes/origin/master
@mixin sizes($height,$width) {
    height: $height;
    width: $width;

}
    .imagen-principal {
        @include sizes(70%, 90%);
        border-radius: $radius-imagenes;
                
    }
        
    @media (max-width: 769px) {
        .imagen-principal{
            width: 80%;
            height: 60%;
    
        }
        
    }

    @media (max-width: 767px) {
        .imagen-principal{
            width: 60%;
            height: 40%;
            
        }
        
    }
    
    .imagenCurso {
        width: 100%;
        height: 50%;
        border-radius: $radius-imagenes;
        
        
        
    }
    
    @media (max-width: 769px) {
        .imagenCurso{
            width: 80%;
            height: 60%;
            
        }
        
    }
    
    @media (max-width: 767px) {
        .imagenCurso{
        width: 60%;
        height: 40%;
        
    }
    
}


.imagenExamenes {
    width: 100%;
    height: 60rem;
    border-radius: $radius-imagenes;
    
    
}

@media (max-width: 769px) {
    .imagenExamenes{
        width: 80%;
        height: 60%;
        
    }
    
}

@media (max-width: 767px) {
    .imagenExamenes{
        width: 60%;
        height: 40%;
        
    }
    
}


.imagenTraducciones {
    width: 80%;
    height: 63rem;
    border-radius: $radius-imagenes;
    position: relative;
    z-index: -1;
    top: 30px;
    
    
<<<<<<< HEAD
=======
    
>>>>>>> refs/remotes/origin/master
}

@media (max-width: 769px) {
    .imagenTraducciones{
        width: 80%;
        height: 60%;
        position: relative;
        top: 20px;
    }
    
}

@media (max-width: 767px) {
    .imagenTraducciones{
        width: 60%;
        height: 40%;
        position: relative;
        top: 18px;
        
    }
    
}

@media (max-width: 425px) {
    .imagenTraducciones{
        position: relative;
        top: 15px;
        
    }
    
}



.logoWhatsapp {
    width: 7rem;
    height: 4rem;
    
    
}
.logoInstagram {
    width: 4.2rem;
    height: 4.2rem;
    
}

.logoFace {
    width: 4rem;
    height: 4.3rem;
    
}

//Operaciones:

$ancho: 4rem;

.logoTwitter {
    width: $ancho;
    height: $ancho;
}

.logosRedes {
    display: inline-block;
}

@media (max-width: 767px) {
    .logoTwitter{
        width: $ancho/2;
        height: $ancho/2;
        margin-right: 3.8rem;
    }
    
}

@media (max-width: 767px) {
    .logoWhatsapp{
        width: 3.2rem;
        height: 1.5em;
    }
    
}

@media (max-width: 767px) {
    .logoInstagram{
        width: $ancho/2;
        height: $ancho/2;
    }
    
}

@media (max-width: 767px) {
    .logoFace{
        width: $ancho/2;
        height: 2.1rem;
    }
    
}



textarea {
    margin-bottom: 0%;
}

@media (max-width: 768px) {
    textarea{
        width: 30rem;
        
        
    }
    
} 

@media (max-width: 500px) {
    textarea {
    width: 20rem; } }

    @media (max-width: 350px) {
        textarea {
        width: 10rem; } } 



.iframe {
    display: flex;
    justify-content: center;
    align-items: center;
    
}



.formulario {
    max-width: 70rem;
    width: 90%;
    margin: 0 auto;
}


.campo {
    
    label{
        font-size: 2.5rem;
        text-align: start;
        padding: 2rem;
        position: absolute;
        margin-top: 0;
        margin-left: 0;
    }
}

@media (min-width: 395px) {
    .campo label {
    font-size: 1.8rem;
    text-align: start;
    position: absolute;
    margin-top: 0;
    margin-left: 0; } }

    @media (max-width: 394px) {
        .campo label {
        font-size: 1.2rem;
        text-align: start;
        padding: 1.5rem;
        position: absolute;
        margin-top: 0;
        margin-left: 0; } }
        


legend {
    font-size: 3rem;
}


//Animaciones

.menu-naveg a {
    transition: 1seg;
    text-decoration: none;
    color: white;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight:bold;
    
    &:hover {
        font-size: 3rem;
        color:aqua;
        text-decoration: none;
        
    }
}

.input {
    width: 90%;
    margin-top: 5rem;
    text-align: start;
    
    &:focus {
        padding: 5px;
        background-color: rgb(238, 238, 204);
    }
    
}

    @keyframes aparecer {
    0%{ opacity: 0;}
    100%{opacity: 1;}
    
    }
        
    img.logoWhatsapp {
        animation-name: aparecer;
        animation-iteration-count: none;
        animation-timing-function: ease-in;
        animation-duration: 2s;
        animation-delay: 0s;
        }

    img.logoInstagram {
        animation-name: aparecer;
        animation-iteration-count: none;
        animation-timing-function: ease-in;
        animation-duration: 2s;
        animation-delay: 0s;
        } 

    img.logoFace {
        animation-name: aparecer;
        animation-iteration-count: none;
        animation-timing-function: ease-in;
        animation-duration: 2s;
        animation-delay: 0s;
        } 
        
        img.logoTwitter {
            animation-name: aparecer;
            animation-iteration-count: none;
            animation-timing-function: ease-in;
            animation-duration: 2s;
            animation-delay: 0s;
            }     

