@import "tipografias";
@import "componentes";
@import "estructura";

//Borde de imágenes:

$radius-imagenes: 1rem;    


    .imagen-principal {
        width: 90%;
        height: 70%;
        border-radius: $radius-imagenes;
        /*margin: 0.5rem 4rem 2rem 6rem;*/
        
        
    }
        
    @media (max-width: 769px) {
        .imagen-principal{
            width: 80%;
            height: 60%;
    
        }
        
    }

    @media (max-width: 767px) {
        .imagen-principal{
            width: 60%;
            height: 40%;
            
        }
        
    }
    
    .imagenCurso {
        width: 70%;
        height: 50%;
        border-radius: $radius-imagenes;
        
        /*margin: 0rem 0rem 2rem 19rem;*/
        
    }
    
    @media (max-width: 769px) {
        .imagenCurso{
            width: 80%;
            height: 60%;
            
        }
        
    }
    
    @media (max-width: 767px) {
        .imagenCurso{
        width: 60%;
        height: 40%;
        
    }
    
}


.imagenExamenes {
    width: 70%;
    height: 47rem;
    border-radius: $radius-imagenes;
    
    /* margin: 0rem 0rem 2rem 17rem; */
}

@media (max-width: 769px) {
    .imagenExamenes{
        width: 80%;
        height: 60%;
        
    }
    
}

@media (max-width: 767px) {
    .imagenExamenes{
        width: 60%;
        height: 40%;
        
    }
    
}


.imagenTraducciones {
    width: 70%;
    height: 70rem;
    border-radius: $radius-imagenes;
    
    /* margin: 0rem 0rem 2rem 17rem; */
}

@media (max-width: 769px) {
    .imagenTraducciones{
        width: 80%;
        height: 60%;
        
    }
    
}

@media (max-width: 767px) {
    .imagenTraducciones{
        width: 60%;
        height: 40%;
        
    }
    
}



.logoWhatsapp {
    width: 7rem;
    height: 4rem;
    /* margin-left: 100rem; */
    
}
.logoInstagram {
    width: 4.2rem;
    height: 4.2rem;
    
}

.logoFace {
    width: 4rem;
    height: 4.3rem;
    
}

.logoTwitter {
    width: 4rem;
    height: 4rem;
}

.logosRedes {
    display: inline-block;
}

@media (max-width: 767px) {
    .logoTwitter{
        width: 2rem;
        height: 2rem;
        margin-right: 3.8rem;
    }
    
}

@media (max-width: 767px) {
    .logoWhatsapp{
        width: 3.2rem;
        height: 1.5em;
    }
    
}

@media (max-width: 767px) {
    .logoInstagram{
        width: 2rem;
        height: 2rem;
    }
    
}

@media (max-width: 767px) {
    .logoFace{
        width: 2rem;
        height: 2.1rem;
    }
    
}



textarea {
    margin-bottom: 0%;
}

@media (max-width: 768px) {
    textarea{
        width: 30rem;
        
        
    }
    
} 


@media (max-width: 435px) {
    textarea{
        width: 15rem;
    }
    
} 



.iframe {
    display: flex;
    justify-content: center;
    align-items: center;
    
}



.formulario {
    max-width: 70rem;
    width: 90%;
    margin: 0 auto;
}


.campo {
    
    label{
        font-size: 2.5rem;
        text-align: start;
        padding: 2rem;
        position: absolute;
        margin-top: 0;
        margin-left: 0;
    }
}

@media (min-width: 425px) {
    .campo label{
        font-size: 2rem;
        text-align: start;
        padding: 2rem;
        position: absolute;
        margin-top: 0;
        margin-left: 0; 
    }
    
}


legend {
    font-size: 3rem;
}


/*ANIMACIONES*/

a {
    transition: 1seg;
    text-decoration: none;
    color: white;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight:bold;
    
    &:hover {
        font-size: 3rem;
        color:aqua;
        text-decoration: none;
        
    }
}

.input {
    width: 90%;
    margin-top: 5rem;
    /* margin: 0 auto; */
    text-align: start;
    
    &:focus {
        padding: 5px;
        background-color: rgb(238, 238, 204);
    }
    
}

    @keyframes aparecer {
    0%{ opacity: 0;}
    100%{opacity: 1;}
    
    }
        
    img.logoWhatsapp {
        animation-name: aparecer;
        animation-iteration-count: none;
        animation-timing-function: ease-in;
        animation-duration: 2s;
        animation-delay: 0s;
        }

    img.logoInstagram {
        animation-name: aparecer;
        animation-iteration-count: none;
        animation-timing-function: ease-in;
        animation-duration: 2s;
        animation-delay: 0s;
        } 

     img.logoFace {
        animation-name: aparecer;
        animation-iteration-count: none;
        animation-timing-function: ease-in;
        animation-duration: 2s;
        animation-delay: 0s;
        } 
        
        img.logoTwitter {
            animation-name: aparecer;
            animation-iteration-count: none;
            animation-timing-function: ease-in;
            animation-duration: 2s;
            animation-delay: 0s;
            }     

        /* mark {
            color: blue;
            background-image: linear-gradient(white, rgb(132, 173, 219), rgba(35, 120, 231, 0.842));
      
        }    */
